<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art | Error</title>
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
    <style>
        .button {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button:hover{
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Error {{.StatusCode}}: {{.StatusText}}</h1>
    <p>{{.Message}}</p>
    <button class="button" onclick="window.location.href='/'">Return to Home</button>
</body>
</html>
